.register-main{
    width: 60%;
    gap: 20px;
    border: 1px solid var(--green);
    border-radius: 4px;
    background-color: #F4FFFA;
}
.register-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.register-title{
    width: 100%;
    padding: 6px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    background-color: var(--green);
    color: var(--white);
}

/* .register-email{
    width: 100%;
    padding: 0 20px;
} */
.register-inputStyle{
    width: 45%;
}
.register-inputStyle > input{
    width: 100%;
    padding: 2px 4px;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 4px;
    outline: none;
    background-color: rgba(248, 248, 248, 0.662);

}
.error-message{
    color: red;
}
.modal-message{
    padding: 20px;
    color: white;
    font-size: large;
}
@keyframes scaleAnimation {
    0% {
      transform: scale(1) rotateY(180deg); /* Initial state: normal scale with rotation */
    }
    50% {
      transform: scale(1.5) rotateY(190deg); /* Halfway point: increased scale with rotation */
    }
    50% {
        transform: scale(50) rotateY(-190deg); /* Halfway point: increased scale with rotation */
      }
  }
